
.icon-location:before { content: '\e75c'; } /* '' */
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-trash-empty:before { content: '\e805'; } /* '' */
.icon-floppy:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '\e808'; } /* '' */
.icon-right-big:before { content: '\e809'; } /* '' */
.icon-resize-full:before { content: '\e80a'; } /* '' */
.icon-resize-small:before { content: '\e80b'; } /* '' */
.icon-cog:before { content: '\e80c'; } /* '' */
.icon-chart-bar:before { content: '\e80d'; } /* '' */
.icon-attention:before { content: '\e80e'; } /* '' */
.icon-cancel-circled:before { content: '\e80f'; } /* '' */
.icon-attention-circled:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-ok:before { content: '\e812'; } /* '' */
.icon-arrows-cw:before { content: '\e813'; } /* '' */
.icon-picture-1:before { content: '\e814'; } /* '' */
.icon-calendar:before { content: '\e815'; } /* '' */
.icon-doc:before { content: '\e816'; } /* '' */
.icon-asterisk:before { content: '\e817'; } /* '' */
.icon-folder:before { content: '\e818'; } /* '' */
.icon-folder-open:before { content: '\e819'; } /* '' */
.icon-flag:before { content: '\e81a'; } /* '' */
.icon-tag:before { content: '\e81b'; } /* '' */
.icon-pin:before { content: '\e81c'; } /* '' */
.icon-zoom-in:before { content: '\e81d'; } /* '' */
.icon-edit:before { content: '\e81e'; } /* '' */
.icon-user:before { content: '\e81f'; } /* '' */
.icon-clock:before { content: '\e820'; } /* '' */
.icon-markdown:before { content: '\e821'; } /* '' */
.icon-mouse-middle:before { content: '\e822'; } /* '' */
.icon-mouse-left:before { content: '\e823'; } /* '' */
.icon-mouse-right:before { content: '\e824'; } /* '' */
.icon-resize-vertical:before { content: '\e825'; } /* '' */
.icon-resize-horizontal:before { content: '\e826'; } /* '' */
.icon-download:before { content: '\e827'; } /* '' */
.icon-logout:before { content: '\e828'; } /* '' */
.icon-upload:before { content: '\e829'; } /* '' */
.icon-users:before { content: '\e82a'; } /* '' */
.icon-zoom-out:before { content: '\e82b'; } /* '' */
.icon-link:before { content: '\e82c'; } /* '' */
.icon-tint:before { content: '\e82d'; } /* '' */
.icon-export:before { content: '\e82e'; } /* '' */
.icon-camera:before { content: '\e82f'; } /* '' */
.icon-eye:before { content: '\e830'; } /* '' */
.icon-eye-off:before { content: '\e831'; } /* '' */
.icon-lock-open:before { content: '\e832'; } /* '' */
.icon-lock:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-book:before { content: '\e835'; } /* '' */
.icon-left-dir:before { content: '\e836'; } /* '' */
.icon-right-dir:before { content: '\e837'; } /* '' */
.icon-down-dir:before { content: '\e838'; } /* '' */
.icon-up-dir:before { content: '\e839'; } /* '' */
.icon-fire:before { content: '\e83a'; } /* '' */
.icon-shuffle:before { content: '\e83b'; } /* '' */
.icon-star-empty:before { content: '\e83c'; } /* '' */
.icon-star:before { content: '\e83d'; } /* '' */
.icon-heart-empty:before { content: '\e83e'; } /* '' */
.icon-heart:before { content: '\e83f'; } /* '' */
.icon-home:before { content: '\e840'; } /* '' */
.icon-chat:before { content: '\e841'; } /* '' */
.icon-bell:before { content: '\e842'; } /* '' */
.icon-attach:before { content: '\e843'; } /* '' */
.icon-comment:before { content: '\e844'; } /* '' */
.icon-wrench:before { content: '\e845'; } /* '' */
.icon-cog-alt:before { content: '\e846'; } /* '' */
.icon-scissors:before { content: '\e847'; } /* '' */
.icon-briefcase:before { content: '\e848'; } /* '' */
.icon-award:before { content: '\e849'; } /* '' */
.icon-truck:before { content: '\e84a'; } /* '' */
.icon-road:before { content: '\e84b'; } /* '' */
.icon-off:before { content: '\e84c'; } /* '' */
.icon-inbox:before { content: '\e84d'; } /* '' */
.icon-down-big:before { content: '\e84e'; } /* '' */
.icon-left-big:before { content: '\e84f'; } /* '' */
.icon-up-big:before { content: '\e850'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-github-circled-1:before { content: '\f09b'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-extinguisher:before { content: '\f134'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-bullseye:before { content: '\f140'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-bomb:before { content: '\f1e2'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-ship:before { content: '\f21a'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-transgender:before { content: '\f224'; } /* '' */
.icon-venus-mars:before { content: '\f228'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
